*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.4rem;
    font-weight: 500;
}

h4{
    font-size: 1.6rem;
    font-weight: 400;
}

h5{
    font-size: 1.4rem;
    font-weight: 400;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
}

body{
    text-align: center;
    height: 96vh;
}

.temperature-input{
    display: flex;
    width: 100%;
}

.input {
    margin-top: 15px;
    appearance: none;
    width: 30px;
    height: 30px;

    border-radius: 50px;

    border: 2px solid rgb(255, 166, 0);
    transition: 0.2s all linear;
    margin-left:20px;

}

.input:checked {
    background-color:rgb(241, 177, 59);
}

.label-temp{
    margin-top: 15px;
    text-align: center;
    margin-left: 15px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    text-align: center;
}

.search-btn{
    border-radius: 80px;
    margin-left: -80px;
    margin-right: 20px;
    width: 150px;
    height: 60px;
    background-color: rgba(255, 166, 0);
    border: 2px solid rgb(255, 166, 0);
}

.search-input{
    margin-left: 40px;
    padding-left: 20px;
    border-radius: 200px;
    border: 1px solid rgb(255, 166, 0);
    width: 250px;
    height: 60px;
    background-color: rgba(255, 166, 0, 0.42);
    font-size: 1.4rem;
    font-weight: 400;
}

.wrong-div{
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    color: red;
    position: relative;
}

.wrong-text{
    margin-right: 7%;
}

.title{
    margin-left: 2%;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-top{
    margin: 2% 0% 4%;
}

.container-bottom{
    margin: 0% 0% 4%;
}


.row-content-top{
    margin: auto;
    height: 40px;
    background-color: rgba(255, 166, 0, 0.539);
}

.row-content-middle{
    width: 100%;
    margin: auto;
    height: 160px;
    background-color: rgba(255, 166, 0, 0.704);
}

.row-content-bottom{
    margin: auto;
    height: 50px;
    background-color: rgba(255, 166, 0, 0.866);
}

.col a .col{
    transition: all 0.5s;
}

.col a .col:hover{
    background-color: rgb(148, 98, 6)
}


.weather-icon{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.weather-icon-1{
    max-width: 100%;
}

